node_modules
target
.git
.github
*.log
.DS_Store
assets/*.jpg
assets/*.png
src
!src/lib
!src/lib/source-watch-defaults.json
index.html
vite.config.ts
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
